<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tech Check</title>
    <link rel="stylesheet" href="./css/styles.css" />
    <script src="https://cdn.rawgit.com/davidshimjs/qrcodejs/gh-pages/qrcode.min.js"></script>
    <script async defer src="https://cdnjs.cloudflare.com/ajax/libs/annyang/2.6.1/annyang.min.js"></script>
</head>

<body>
    <div class="main">
        <div class="container">
            <div class="wrapper">
                <div class="content">
                    <div class="signIn">
                        <img src="./images/logo.svg" class="logo" width="125" />
                        <div class="heading">
                            <div class="heading__subtitle">Welcome to</div>
                            <h1 class="heading__title"></h1>
                        </div>
                        <form class="form">
                            <div class="form__body">
                                <div class="form__item">
                                    <label class="form__label" for="name">Please put your first name AND last name below
                                        (latin
                                        characters
                                        only)</label>
                                    <input class="form__input" id="name" type="text" maxLength="64" minlength="2"
                                        title="Your name (latin letters)" required name="name" autocomplete="name">
                                </div>
                                <div class="form__item email-container">
                                    <label class="form__label" for="emailAddress">Please enter the email you used in
                                        your registration form</label>
                                    <input class="form__input" id="emailAddress" type="email" maxLength="64" required
                                        pattern=".+@.+" name="email">
                                </div>
                            </div>
                            <button class="form__btn" type="submit" name="joinButton">Join</button>
                        </form>
                        <div class="text-info">
                            <p class="info-text">Dear Nobel applicants!</p>
                            <p class="tech-list-title">For your EduQuest, please make sure that you join from a
                                noise-free environment using:
                            </p>
                            <ul class="tech-list">
                                <li class="tech-list-item"><img src="./images/laptop.svg" height="48" alt="laptop"><span
                                        class="tech-list-text">A
                                        PC/Laptop</span>
                                </li>
                                <li class="tech-list-item"><img src="./images/headset.svg" height="48"
                                        alt="headset"><span class="tech-list-text">
                                        A working headset/earphones</span></li>
                                <li class="tech-list-item"><img src="./images/microphone.svg" height="48"
                                        alt="microphone"><span class="tech-list-text">A
                                        working mic</span></li>
                                <li class="tech-list-item"><img src="./images/webcam.svg" height="48" alt="webcam">
                                    <span class="tech-list-text">A working webcam</span>
                                </li>
                                <li class="tech-list-item"><img src="./images/router.svg" height="48"
                                        alt="router-internet"><span class="tech-list-text">A
                                        stable internet</span></li>
                            </ul>
                            <p> Participate actively and have a great time!
                            </p>
                        </div>
                    </div>
                    <div class="tech-check">
                        <h3 class="tech-check-title">Prepare Your Tech</h3>
                        <div class="tech-camera-container">
                            <p class="tech-instructions">Before we dive in, let's make sure your camera is good to go!
                                <span>It's simple
                                    – just click the button below and strike a pose or show any reaction you
                                    like!</span>
                            </p>
                            <div class="video-container">
                                <video id="video" autoplay muted playsinline></video>
                            </div>
                            <button id="camera-check-btn" class="tech-check-button">Check my camera</button>
                            <p id="qr-camera-text" class="qr-oportunity">Use another device for checking camera</p>
                            <div id="qr-camera" class="qrcode-camera-backdrop">
                                <div id="cameraQRcode" class="qrcode"></div>
                                <p class="qrcode-instruction">Open camera or QR code scanner app on your mobile device.
                                    Point your device's camera at the QR code on your screen, and follow the prompted
                                    action to proceed.</p>
                            </div>
                        </div>
                        <div class="tech-microphone-container">
                            <p class="tech-instructions"><span>Great!</span> Your camera is working perfectly. Now,
                                let's check your
                                microphone.
                                <span>Click the button and read aloud the displayed sentence.</span> We'll
                                ensure your
                                voice comes
                                through clear during your lesson.
                            </p>
                            <div id="microphone-check" class="tech-microphone-backdrop">
                                <div class="microphone-check-modal">
                                    <p class="microphone-check-text"><span>Read aloud:</span>The quick brown fox jumps
                                        over
                                        the lazy dog</p>
                                    <p class="microphone-loading-text">Microphone Test in Progress...</p>
                                    <div class="tech-spinner"></div>
                                </div>
                            </div>
                            <button id="micro-check-btn" class="tech-check-button">Check my microphone</button>
                            <p id="qr-microphone-text" class="qr-oportunity">Use another device for checking microphone
                            </p>
                            <div id="qr-microphone" class="qrcode-microphone-backdrop">
                                <div id="microphoneQRcode" class="qrcode"></div>
                                <p class="qrcode-instruction">Open camera or QR code scanner app on your mobile device.
                                    Point your device's camera at the QR code on your screen, and follow the prompted
                                    action to proceed.</p>
                            </div>
                        </div>
                        <p id="failure-text" class="failure-tech-text">
                            <span>We encountered an issue while checking your technical equipment.</span> Don't worry,
                            you can
                            join the
                            meeting directly
                            to perform the check again. Please click <a id="failure-link" target="_blank"
                                class="tech-failure-link">here</a> to
                            join the meeting and ensure your technical equipment is working properly.
                        </p>
                        <div class="tech-audio-container">
                            <p class="tech-instructions"><span>Great!</span> Your camera and microphone are working
                                perfectly.
                                <span>Now, let's check your headset.
                                    After listening to the audio, please enter what you heard in the input field
                                    below.</span>
                                If you don't
                                hear anything, please check your headset's connection, volume and try again!
                            </p>
                            <form class="audio-form">
                                <p class="audio-failure-text">Please, listen carefully and try again!</p>
                                <div class="audio-container">
                                    <audio id="audio-check" class="audio" controls>
                                        <source src="./images/audio.mp3" type="audio/mp3">
                                    </audio>
                                    <input type="text" class="audio-form-field" name="audioCheck"
                                        placeholder="Enter what you heard">
                                </div>
                                <button id="audio-check-btn" class="tech-check-button">Check my Audio</button>
                            </form>
                            <p class="issues-audio-text">Follow the link below if you have issues with your audio</p>
                            <a target="_blank" class="issues-audio-link">Go to the Tech meeting</a>
                        </div>
                    </div>
                </div>
                <span id="spinner" class="spinner"></span>
                <button type="button" id="googleSignInButton" class="signIn-google">Sign in with Google for
                    Meet</button>
                <p class="device-info-text">For an optimal learning experience, we advise accessing our EduQuest from a
                    laptop or computer. These
                    devices provide the necessary tools for our EduQuest. Thank you for understanding! </p>
                <div class="image">
                    <img src="./images/Illustration.png" alt="illustration" />
                </div>
            </div>
        </div>
        <img class="top-left" src="./images/top-left.svg" />
        <img class="top-right" src="./images/top-right.svg" />
        <img class="bottom-right" src="./images/bottom-right.svg" />
        <img class="line" src="./images/line.png" />
        <img class="blob" src="./images/blob.png" />
    </div>
    <script src="./face-api-models/face-api.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script type="module" src="./js/main.js"></script>
    <script type="module" src="./js/modules/interfaceTechCheckLogic.js"></script>
</body>

</html>